body {
    font-family: 'Roboto', sans-serif;
    height:100%;
    margin: 0;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    text-align: right;
    width: 100%;
}

.footer > a{
    margin-right: 20px;
}