:root{
    --btn-color: rgb(179, 179, 179);
    --btn-color-text: rgb(122, 122, 122);
}

html{
    overflow: hidden;
}

body {
    box-sizing: border-box;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin:0;
    height: 100%;
    width: 100%;
    user-select: none;
}

/************************/
/* FOOTER*/

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    text-align: right;
    width: 100%;
}

#footer > a {
    margin-right: 10px;
    margin-left: 10px;
}

/************************/
/* Header */
 #header{
    position: static;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 100%;
    border-bottom: groove;
    border-width: 2px;
 }

 #headerTitle{
    font-weight: bold;
 }


#main{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

#main:after {
    content: "";
    display: table;
    clear: both;
  }

#inventoryCol{
    float:left;
    width:24%;
    height:100%;
    padding-right: 20px;
}

#mainCol{
    float:left;
    width:49%;
    height:100%;
}

#chatCol{
    padding-left: 20px;
    float:right;
    width:24%;
    height:100%;
}

/****************************************************************/
/*  Button Code */

.button {
    position: relative;
    border: 2px;
    border-style: solid;
    
    width: 100px;
    height: 30px;

    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;

    text-align: center;
    background-color: white;
}

.button:hover{
    text-decoration: underline gray;
    cursor: pointer;

    background-color: var(--btn-color);
}

.button.disabled, .button.disabled:hover{

    text-decoration: none;
    border-color: var(--btn-color);
    color: var(--btn-color-text);
    cursor: initial;

    background-color: transparent;
}

.button.disabled > .buttonBG {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: var(--btn-color);

    animation-name: cooldown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes cooldown {
    from {width:100%}
    to {width:0%}
}

/**************************
/* TOOLTIP */

.tippy-box[data-theme~='rotu'] {
  background-color: white;
  color: black;
  border-width: 2px;
  border-style: double;
}

/**************************/
/* CHAT */

#chat{
    border-top-style: solid;
    border-width: 1px;
    height: 50%;
    overflow: hidden;
}

#chat:after{
    position: absolute;
    top: 0;  
    height: 70%;
    width: 100%;
    content: "";
    background: linear-gradient(0deg,
       rgba(255,255,255, 1) 0%,
       rgba(255,255,255, 0) 100%
    );
    pointer-events: none;
    overflow: hidden;
}

.message::before {
    content: '> ';
    color: grey;
}

/**********************************/
/* POPUP */

.popup {
    border-style: solid;
    border-width: 2px;

    display: flexbox;

    padding: 20px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 10;
    background-color: white;
}

.notification {
    border-style: solid;
    border-width: 2px;

    padding:20px;

    position: fixed;
    bottom: 0;
    left: 0;
    
    display: flex;

    z-index: 20;
    background-color: white;
}

.notification > div {
    margin: 5px;
    text-align: center;
}

#settings{
    width: 30%;
}

/*************************/
/* STORAGE   */

#storage {
    border-top-style: solid;
    border-width: 1px;
}

.resource {
    display: flex;
}

.resource_amount{
    padding-left: 10px;
    position: relative;
    float: right;
}

/*****************/
/* Achievements  */

#achievements{
    overflow-y: auto;
    width: 69%;
    max-height: 80%;
}

#achievementContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ach_locked{
    position: absolute;
    top:0;
    text-align: center;
    background-color: darkslategrey;
    width: 100%;
    height: 100%;
    z-index: 13;
    line-height: 96px;
    font-size: 5vw;
    color: lightgrey;
}

.achievement{
    position: relative;
    margin: 2px;
    width: 96px;
    height: 96px;
    border-style: solid;
    border-width: 1px;
    display: table;
    color:white;
}